<form action="<%= users_url %>" method ="POST">

<label> username
<input type="text" name="user[username]">
</label>
<br><br>

<label> password
<input type="password" name="user[password]">
</label>
<br><br>

<input type="submit" value="CREATE USER">

</form>